dataset : house price
mean_absolute_error based on max_leaf_node to choose the best tree

after you choose the max_leaf_node ... your model dont need train and test it work on all data 
model.fit(X,y)

candidate_leaf_node = list(range(5,500)) to choose the max_leaf_node

two ways : as a list or as a dictionary ..... do both

In [1]:
import pandas as pd

In [35]:
house_data = pd.read_csv("../datasets/real_estate.csv")

In [36]:
house_data.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [37]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      413 non-null    int64
 1   X1 transaction date                     413 non-null    float64
 2   X2 house age                            413 non-null    float64
 3   X3 distance to the nearest MRT station  413 non-null    float64
 4   X4 number of convenience stores         413 non-null    int64
 5   X5 latitude                             413 non-null    float64
 6   X6 longitude                            413 non-null    float64
 7   Y house price of unit area              413 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 25.9 KB

In [25]:
features = ["Id","MSSubClass","MSZoning","LotArea","Street",
               "LotShape","LandContour","Utilities","PoolArea","PoolQC","Fence",
               "MiscFeature","MiscVal","MoSold","YrSold","SaleType","SaleCondition"]

In [26]:
X= house_data[features]

In [27]:
y=house_data["SalePrice"]

In [28]:
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [29]:
#max_leaf_node=5
x_train,x_test,y_train,y_test=train_test_split(X,y)
house_model=DecisionTreeRegressor(random_state=0)
house_model.fit(x_train,y_train)

ValueError: could not convert string to float: 'RL'

In [17]:
def get_mae(max_leaf_node,)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64